In [94]:
print(2 + 2)

4

10 % 3

In [95]:
10 / 3

3.3333333333333335

In [96]:
10^3

9

In [97]:
10 ** 3

1000

In [98]:
20 = 20

SyntaxError: cannot assign to literal (3219144389.py, line 1)

In [ ]:
not(True)

In [ ]:
(4 ** 2) +2 == 6

False

In [ ]:
4 ** 2 + 2

18

In [ ]:
4 ** 2 + 2

18

In [ ]:
(4**2) +2

18

In [ ]:
degrees

NameError: name 'degrees' is not defined

In [ ]:
degrees_celcius = 25
Degrees_Celcius = 30

In [ ]:
degrees_celcius
Degrees_Celcius

30

In [ ]:
Degrees_Celcius

30

In [ ]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  '(4 ** 2) +2 == 6',
  '4 ** 2 + 2',
  '4 ** 2 + 2',
  '(4**2) +2',
  'degrees',
  'degrees_celcius = 25',
  'degrees_celcius = 25',
  'degrees_celcius',
  'Degrees_celcius',
  'Degrees_Celcius',
  'Degrees_Celcius',
  'degrees_celcius',
  'degrees_celcius',
  'degrees_celcius\nDegrees_Celcius',
  'Degrees_Celcius',
  'degrees_celcius = 25\nDegrees_Celcius = 30',
  'degrees_celcius\nDegrees_Celcius',
  'Degrees_Celcius',
  'globals()'],
 '_oh': {1: False, 2: 18, 3: 18, 4: 18, 8: 25, 12: 25, 13: 25, 17: 30, 18: 30},
 '_dh': [WindowsPath('c:/Users/rijan/Desktop/DSI/GitHub/Python/python')],
 'In': ['',
  '(4 ** 2) +2 == 6',
  '4 ** 2 + 2',
  '4 ** 2 + 2',
  '(4**2) +2',
  'degrees',
  'degrees_celcius = 25',
  'degrees_celcius = 25',
  'degrees_celcius',
  'Degrees_celcius',
  'Degrees_Celcius',
  'Degrees_Celcius',
  'degrees_celcius',
  'degrees_celcius',
  'degrees_celcius\nDegrees_Celcius',
  'Degrees_Celcius',
  'degrees_celcius = 25\nDegrees_Celcius = 30',
  'degrees_celcius\nDegrees_Celcius',
  'Degrees_Celcius',
  'globals()'],
 'Out': {1: False, 2: 18, 3: 18, 4: 18, 8: 25, 12: 25, 13: 25, 17: 30, 18: 30},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x0000014551871340>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x14551884070>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x14551884070>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': 30,
 '__': 30,
 '___': 25,
 '__vsc_ipynb_file__': 'Untitled-1.ipynb',
 '_i': 'Degrees_Celcius',
 '_ii': 'degrees_celcius\nDegrees_Celcius',
 '_iii': 'degrees_celcius = 25\nDegrees_Celcius = 30',
 '_i1': '(4 ** 2) +2 == 6',
 '_1': False,
 '_i2': '4 ** 2 + 2',
 '_2': 18,
 '_i3': '4 ** 2 + 2',
 '_3': 18,
 '_i4': '(4**2) +2',
 '_4': 18,
 '_i5': 'degrees',
 '_i6': 'degrees_celcius = 25',
 'degrees_celcius': 25,
 '_i7': 'degrees_celcius = 25',
 '_i8': 'degrees_celcius',
 '_8': 25,
 '_i9': 'Degrees_celcius',
 '_i10': 'Degrees_Celcius',
 '_i11': 'Degrees_Celcius',
 '_i12': 'degrees_celcius',
 '_12': 25,
 '_i13': 'degrees_celcius',
 '_13': 25,
 '_i14': 'degrees_celcius\nDegrees_Celcius',
 '_i15': 'Degrees_Celcius',
 '_i16': 'degrees_celcius = 25\nDegrees_Celcius = 30',
 'Degrees_Celcius': 30,
 '_i17': 'degrees_celcius\nDegrees_Celcius',
 '_17': 30,
 '_i18': 'Degrees_Celcius',
 '_18': 30,
 '_i19': 'globals()'}

In [ ]:
degrees_fahrenheit

32.0

In [ ]:
degrees_fahrenheit = (9 / 5) * degrees_celcius + 32

In [ ]:
degrees_fahrenheit

77.0

In [ ]:
degrees_celcius = 0

In [ ]:
degrees_fahrenheit

77.0

In [ ]:
degrees_fahrenheit

In [ ]:
degrees_celcius = degrees_celcius + 10

In [ ]:
degrees_celcius

35

In [ ]:
lol = lol

In [ ]:
lol = lol + lol + lol + 200

In [ ]:
lol

2092070640500

In [ ]:
a = 1

In [ ]:
print (id(2)

SyntaxError: unexpected EOF while parsing (597557094.py, line 1)

In [ ]:
a = 1

In [114]:
b = a

In [116]:
b=a

In [ ]:
print(id(a))

1397151328560

In [ ]:
print(id(b))

1397151328560

In [99]:
a = 2

In [108]:
b

2

In [117]:
print(id(b))

1397151328592

In [118]:
id(1397151328592)

1397256266192

In [125]:
dinner = "pasta"
lunch = dinner

print(dinner)

dinner = "pizza"
lunch = dinner

dinner = lunch

print(dinner)
print(lunch)

pasta
pizza
pizza

In [127]:
degrees_celcius = degrees_celcius + 10
degrees_celcius += 10 

degrees_celcius

75

In [ ]:
days_of_

In [133]:
hello * 3

NameError: name 'hello' is not defined

In [134]:
dsi = 3
dsi = dsi + 10

In [136]:
dsi ** 3

2197

In [138]:
3 * 'dsi'

'dsidsidsi'

In [ ]:
my_variable + 1

In [139]:
tuesday = (10 + 2
           * 2 + 6)

In [144]:
student1=90
student2=50
student3=74
average = ((student1+student2+student3))/3

average

71.33333333333333

In [146]:
type ("42.4")

str

In [147]:
abs(-43)

43

In [148]:
round(2/3, 5)

0.66667

In [151]:
float(7)

7.0

In [152]:
float(7)

7.0

In [149]:
int("3")

3

In [150]:
type(int(3))

int

In [156]:
print(type(round(2 * 1.5)))

<class 'int'>

In [157]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [158]:
round(number, ndigits=None)

NameError: name 'number' is not defined

In [159]:
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object) -> the object's type
 |  type(name, bases, dict, **kwds) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Specialized __dir__ implementation for types.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(self, instance, /)
 |      Check if an object is an instance.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Return memory consumption of the type object.
 |
 |  __subclasscheck__(self, subclass, /)
 |      Check if a class is a subclass.
 |
 |  __subclasses__(self, /)
 |      Return a list of immediate subclasses.
 |
 |  mro(self, /)
 |      Return a type's method resolution order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The base class of the class hierarchy.
 |
 |      When called, it accepts no arguments and returns a new featureless
 |      instance that has no instance attributes and cannot be given any.
 |
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 880
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148293632
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

In [160]:
def function_name(parameters):

IndentationError: expected an indented block (1742783252.py, line 1)

In [162]:
def function_name(parameters):
    "docstring"
    body
    return

In [164]:
function_name(parameters)

NameError: name 'parameters' is not defined

In [165]:
# degrees_fahrenheit = (9 / 5) * degrees_celcius + 32

In [166]:
def c_to_f(degrees_c):
    degrees_f = (9/5) * degrees_c + 32
    return degrees_f

c_to_f(150)

302.0

In [169]:
def c_to_f2(degrees_c):
    print(9/5)*degrees_c + 32)
    
    hot_2 = c_to_f_2(150)

SyntaxError: unmatched ')' (3592856325.py, line 2)

In [170]:
def divide(dividend, divisor):
)    return dividend/divisor

In [175]:
def calc_sales_tax(price, tax_rate=0.13):
    return price * tax_rate

In [185]:
calc_sales_tax(5)

0.65

In [ ]:
calc_total_bill

In [186]:
100 (100 * 0.22) + (100 * 0.15)

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\rijan\AppData\Local\Temp\ipykernel_12740\4043538213.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  100 (100 * 0.22) + (100 * 0.15)
C:\Users\rijan\AppData\Local\Temp\ipykernel_12740\4043538213.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  100 (100 * 0.22) + (100 * 0.15)
C:\Users\rijan\AppData\Local\Temp\ipykernel_12740\4043538213.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  100 (100 * 0.22) + (100 * 0.15)

TypeError: 'int' object is not callable

In [187]:
def calc_total_bill(price, tax_rate0.13, tip_rate=0.15):
     tax = price * tax_rate + 10000
     tip = price * tip_rate
     return price + tax + tip

SyntaxError: invalid syntax (2631843254.py, line 1)

In [ ]:
dwef c_t

In [177]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.15):
    tax = price * tax_rate
    tip = price * tip_rate
    return price + tax + tip

In [178]:
calc_total_bill(100)

128.0

In [179]:
100 + (100 * 0.22) + (100 * 0.15)

137.0

In [188]:
def c_to_f(degrees_c):
    degrees_f = (9/5) * degrees_c + 32
    return degrees_f

In [189]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)

In [190]:
c_to_f(degrees_c)

NameError: name 'degrees_c' is not defined

In [191]:
c_to_f(degrees_c)

NameError: name 'degrees_c' is not defined

In [182]:
calc_total_bill(100, tip_rate=0.5)

163.0

In [183]:
calc_total_bill(100, tip_rate=0.22)

135.0

In [172]:
calc_sales_tax(5)

NameError: name 'calc_sales_tax' is not defined

In [173]:
calc_sales_tax(5)

NameError: name 'calc_sales_tax' is not defined

In [174]:
calc_sales_tax(5, 0.08)

NameError: name 'calc_sales_tax' is not defined

In [192]:
'This is \nmy birthday!

SyntaxError: EOL while scanning string literal (1624429643.py, line 1)

In [194]:
print('This is \nmy birthday!')

This is
my birthday!

In [196]:
# \\: represents a single backslash character

In [197]:
'This string won\'t result in an error thanks to the escape sequence'

"This string won't result in an error thanks to the escape sequence"

In [198]:
print('Tis is \nmy birthday!')

Tis is
my birthday!

In [199]:
first_name = 'Ada'

In [200]:
first_name = 'Ada'

In [202]:
first_name = 'Ada'
last_name = 'Lovelace'
print('Initials are', first_name[0], last_name[0])

Initials are A L

In [204]:
last_name[2:4]

've'

In [203]:
first_name[1]

'd'

In [205]:
last_name[2:4]

've'

In [206]:
phone_number = '+1 555=123=4567'
phone_number[3:6]

'555'

In [208]:
phone_number[-4:]

'4567'

In [212]:
job_qualifications = '''The successful applicant will be proficient in R, Python, SQL, Statistics, and Data Visualization'''

In [213]:
'JavaScript' in job_qualifications

False

In [215]:
len("Hellooooooo000000000000000000ooooo")

34

In [217]:
900**999999999

In [1]:
yell.count('1')

NameError: name 'yell' is not defined

In [2]:
yell.count('l')

NameError: name 'yell' is not defined

In [ ]:
'file_name.txt'

In [3]:
file_name = 'file_name.csv'

In [4]:
file_name.endswith('.txt')

False

In [5]:
'long file name with lots and lots of space.csv'

'long file name with lots and lots of space.csv'

In [6]:
sorted('helloo')

['e', 'h', 'l', 'l', 'o', 'o']

In [7]:
first_name = 'Ada'
last_name = 'Lovelace'

In [8]:
'Ada Lovelace\'s initials are {}. {}.'.format(first_name[0], last_name[0])

"Ada Lovelace's initials are A. L."

In [9]:
lunch = "hot dog"
dinner = "ramen"

"For lunch In want {} and for dinner I want {}". format(lunch, dinner)

'For lunch In want hot dog and for dinner I want ramen'

In [10]:
lunch = "hot dog"

In [11]:
f'Ada Lovelance\'s initials are {first_name[0]}.{[last_name[0]]}.'

"Ada Lovelance's initials are A.['L']."

In [12]:
snack = 'apples'

f'My favorite snack is {snack}'

'My favorite snack is apples'

(lambda f: f(f, 1))( 
lambda f, n: 
	None if n > 100 
	else 
	print( 
		(not n % 3 and "fizz" or "") + (not n % 5 and "buzz" or "") or n 
	) 
	or f(f, n+1) 
)

In [13]:
(lambda f: f(f, 1))( 
lambda f, n: 
	None if n > 100 
	else 
	print( 
		(not n % 3 and "fizz" or "") + (not n % 5 and "buzz" or "") or n 
	) 
	or f(f, n+1) 
)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [14]:
>>> a = "hello" 
>>> b = "hello" 
>>> a is b 
True 
 
>>> a = "hello!" 
>>> b = "hello!" 
>>> a is b 
False 
 
>>> a, b = "hello!", "hello!" 
>>> a is b 
True

True

In [15]:
str(20)

'20'

In [16]:
str(34.7)

'34.7'

In [17]:
'20' + str(37.5)

'2037.5'

age = input('How old are you?')
age

In [ ]:
print('Next birthday you will be {}''.format(age_next_bday))

In [1]:
print(f'Next birthday you will be {age_next_bday}')

NameError: name 'age_next_bday' is not defined

In [2]:
not False

True

In [3]:
3 == 3

True

In [4]:
not (3 == 3)

False

In [5]:
6 ==7 and 32 > 0

False

In [6]:
180 < 20 or 8 == 8

True

In [7]:
6 != 6 or 7 < 10

True

In [8]:
(6 != 6 or 7 < 10 and False)

False

In [9]:
True and True and False

False

In [10]:
'Maggie is coding in Python!'

'Maggie is coding in Python!'

In [1]:
6 != 9 and 38 >2

True

In [2]:
"DOG" == "dog" or "Cat" == "Cat"

True

In [3]:
"DOG" == "dog"

False

In [12]:
is_winter = "Test" #string
is_cloudy = True #boolean

is_winter and is_cloudy

NameError: name 'Lol' is not defined

In [11]:
is_cloudy and is_winter

'Test'

In [17]:
Lol and "True"

NameError: name 'Lol' is not defined

In [18]:
True and 5 == 5

True

In [21]:
"" not True

SyntaxError: invalid syntax (4254233989.py, line 1)

In [22]:
0 and True

0

In [23]:
year = 2024
if year >= 2000: 
    print("We are in the 21st century.")

We are in the 21st century.

In [ ]:
if year >= 2000;
    print("We are in the 21st century.")

In [27]:
year = 1999
if year >= 2000: 
    print("21st century")
else: 
    print("NOT 21st century")

NOT 21st century

In [30]:
year = 2000
if year >= 2000:
    print("21st century")
elif year >=1900:
    print("20th century")
elif year >= 1800:
    print("19th century")
else:
    print("wayyyyy back in time!")

21st century

In [33]:
day_of_week = 'Thursday'
if day_of_week == 'Saturday' or day_of_week == "Sunday":
    print('Weekend')
else:
    print('Weekday')

Weekday

In [40]:
def eye_exam_covered(age, qualifing_condition, time_since_last_exam):
    if age <= 19:
        if time_since_last_exam >= 12:
            return "You are eligible for 1 major eye exam and any minor assessments"
        else:
            return "It hasn't been 12 months since your last major eye exam"
    elif 20 <= age <= 64:
        if qualifying_condition:
            if time_since_last_exam >=12:
                return "You are still eligible for 1 major exam and additional follow-ups"
            else:
                return "It hasn't been 12 months since your last major eye exam"
        else:
                return "You do not have a qualifying condition"

IndentationError: expected an indented block (732886076.py, line 7)